<template name="navbar">
    <div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation">
        <ul class="nav nav-sidebar">
            <li class="{{highlightov}}" id="ov"><a href="/">Overview</a></li>
            <li class="{{highlightho}}" id ="ho"><a href="hospitals">Trusts/Hospitals</a></li>
            <li class="{{highlightwo}}" id="wo"><a href="workplaces">Workplaces</a></li>
            <li class="{{highlightus}}" id="us"><a href="users">Trainers</a></li>
            <li class="{{highlightry}}" id="ry"><a href="trainees">Trainees</a></li>
            <li class="{{highlightpe}}" id="pe"><a href="feedback">Feedback</a></li>
        </ul>
    </div>
</template>
